.catchyTextContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3em;
  margin-bottom: 8em;
}
.catchyTextBoxImg {
  background-image: url(../../assets/images/diablo4lilith.png);
  background-size: cover;
  border-radius: 1.5em;
  border: solid black;
  padding: 2em;
}
.catchyTextTitle {
  font-size: 3rem;
  margin-bottom: 1em;
  font-weight: bolder;
}

.catchyTextP {
  color: whitesmoke;
  font-size: 1.5rem;
  margin-bottom: 10em;
  font-weight: bolder;
}

.catchySpan {
  color: whitesmoke;
  font-size: 1.5rem;
  hyphens: auto;
  font-weight: bolder;
}
